@import url('reset.css');

.container-main{
    display: flex;    
}

.container-header {
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 56px;   
    padding: 10px;
    position: relative;
    gap: 10px;    
    align-items: center;
}

.item-head{
    margin-top: 10px;
    align-items: center;
    justify-content: center;   
}

.search{
    margin-left: 256px;
    margin-right: 396px;
}

.avatar{
    width: 44px;
    height: 44px;
    background-image: url("../assets/images/101068316.jfif");
    border-radius: 50%;
}

.container-video{
    display: flex;
    width: 952px;
    height: 950px;   
    position: relative;    
    padding: 20px;
    top: 10px;
    left: 20px;
    flex-flow: row wrap;
    align-content: flex-start;
}

.video{
    margin-top: 2px;   
    width: 950px;
    height: 537px;
    background-image: url("../assets/images/thumb_video_now.png");    
}

.titulo{   
    width: 950px;
    height: 30px;
    margin-top: 20px;
    font-size: larger;
}

.actions{
    display: flex;
    flex-direction: row;
    width: 950px;
    height: 50px;
    margin-top: 30px;    
    align-items: center;   
}

.item-action{
    text-align: center;    
}

#dio-channel{
    margin-left: 10px;
}

.text-action{
    margin-top: 5px;
    font-size: 14px;
    text-align: left;
    width: 125px;
}

.subs-button{
    width: 145px;
    height: 40px;
    margin-left: 33px;
    background-image: url("../assets/images/Button.png");    
}

#subscribe{
    margin-top: 12px;
    font-size: 14px;
    color: aliceblue;
}

#like-button{
    margin-left: 40px;
}

#like-count{
    margin-left: 10px;
}

.descricao{    
    width: 700px;
    height: 150px;
    margin-top: 25px;
}

.container-lista-videos {
    display: flex;     
    gap: 20px;
    max-width: 380px;
    height: 1024px;      
    padding: 20px;     
    flex-direction: column;    
}

.videos{
    display: flex;
}

.item-video{
    border: 2px solid rgb(255, 255, 255);
    height: 90px;
    width: 160px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
}

.item-texto{
    border: 2px solid rgb(255, 255, 255);
    height: 90px;
    width: 160px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
}

#titulo-video-lista{
    font-size: 13px;
    text-align: left;
    word-wrap: break-word;
}

#descricao-video-lista{
    font-size: 12px;
    margin-top: 4px;
}

#texto-descritivo{
    text-align: left;
}
